/*
 Theme Name:   Tanvas
 Description:  Theme created for TechnoTan.com.au, child of Canvas by WooThemes
 Author:       Derwent
 Author URI:   http://dev.laserphile.com
 Template:     canvas
 Version:      1.0.0
 Tags:         Tanvas
 Text Domain:  technotan
*/


/*@import url("../canvas/style.css");*/


/* =Theme customization starts here
-------------------------------------------------------------- */


@font-face {
	font-family: "texgyreadventor";
	src: url("fonts/texgyreadventor-regular.eot");
	src: url("fonts/texgyreadventor-regular.eot#iefix") format("embedded-opentype"),
	url("fonts/texgyreadventor-regular.woff") format("woff"),
	url("fonts/texgyreadventor-regular.ttf") format("truetype"),
	url("fonts/texgyreadventor-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


/**
 * DEMO STORE NOTICE MODS
 */
p.demo_store {
	padding: 0 !important;
	font-size: 10px;
}

/**
 * PRODUCT CATEGORY DISPLAY MODS
 */

/*body.archive.tax-product_cat ul.products {
	display: table;
}*/

/*body.archive.tax-product_cat ul.products li.product-category.product {
	display: table-row;
	width: 100%;
}

body.archive.tax-product_cat ul.products li.product-category.product img {
	display: table-cell;
	float: left;
	margin: 10px;
}

body.archive.tax-product_cat ul.products li.product-category.product div.product-category-description {
	display: table-cell;
	float: left;
	margin: 10px;
	text-align: left;
}

@media only screen and (min-width: 768px){
	body.archive.tax-product_cat ul.products li.product-category.product img{
		max-width: 22%;
	}
	body.archive.tax-product_cat ul.products li.product-category.product div.product-category-description {
		max-width: 71%;
	}
} 
@media only screen and (max-width: 767px){
	body.archive.tax-product_cat ul.products li.product-category.product img{
		max-width: 150px;
	}
} 
*/


/* Removes those stupid woocommerce marks */
li mark.count {
	display: none;
}

/* Makes category name appear inside image - woocommerce products*/
body.home li.product-category.product a {
	position: relative;
	width: 100%;
}

body.home li.product-category.product a h3 {
	position: absolute;
	Bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	color: #d2ab67;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Helvetica;
	background: rgb(0,0,0);
/* fallback color */
	background: rgba(0,0,0,0.7);
	margin-bottom: 0;
	padding: 10px;
/* trial */
	overflow: hidden;
	text-overflow: ellipsis;
}

/* product titles */
li.product a h3 {
	font-weight: normal;
}

/* position header logo correctly in mobile view */
@media only screen and (max-width: 767px) {
	header#header.col-full {
		padding-left: 20px;
	}
}

/* improve search box text visibility */
/* form.searchform {
	background: #e6e6e6 !important;
} */

/* improve search box text visibility */
/* #navigation ul.nav-search #searchform, #navigation ul.nav-search form.searchform {
	background: #e6e6e6 !important;
} */

/* Make main box background white */
section#main {
    background:white;
    border-style:solid;
    border-width: medium;
    border-color: #d1aa67;
    padding: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

/* Scale down header image */
@media only screen and (min-width: 768px) {
	header#header div#logo {
	    max-width:40%;
	}
}

p.woocommerce-result-count {
	font-weight: bold;
	margin-top: 20px;
}
/**
 * Tanvas Widget Mods
 */

/* make <a> font visible on widgets */
div.widget a,
div.widget h2 {
	color: #000000;
}


/* make header widgets apear without background and align right */
div.header-widget div.widget {
	background: none;
}
div.header-widget div.widget p {
	color:#d2ab67;
	text-align:right;
}
div.header-widget div.widget a {
	color:#d2ab67;
	text-align:right;
	font-weight:bold;
}

/* Doorway buttons widget mods */

/* make doorway button widgets appear without background */
div.widget-area-container#doorway-button-sidebar-container{
	background: transparent;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-sidebar div.widget,
div#tanvas-home-doorway-bottom div.widget-doorway-bottom div{
	background: white;
}

div#tanvas-home-doorway-bottom div.widget-doorway-bottom {
	padding: 0px;
}

div#recent-posts-section {
	border-width: 2px;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget{
	background-color: transparent;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget a{
	position: relative;
	display: block;
	margin: 0px 10px 20px 10px;
	/*border-style:solid;
    border-width: medium;
    border-color: #d1aa67;	*/
	max-height: 300px;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget a h2{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	/*max-height: 0%;	*/
	color: #d2ab67;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Helvetica;
	background: rgb(0,0,0);
/* fallback color */
	background: rgba(0,0,0,0.7);
	margin-bottom: 0;
	padding: 10px;
/* trial */
	overflow: hidden;
	text-overflow: ellipsis;	
	text-align: center;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget.doorway a img {
	/*display:block;*/
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget a h2{
	color: black;
}
/* custom homepage widgets */

/* custom widget styles */

div.widget-area.sidebar#tanvas-home-doorway-sidebar div.widget,
aside#sidebar div.widget,
div.widget-area#tanvas_home_right div.widget {
	background-color: white;
	border-color: #d1aa67;
	border-style: solid;
	border-width: medium;
} 

div.widget-area.sidebar#tanvas-home-doorway-sidebar div.widget h2,
div.widget-area#tanvas_home_right div.widget h2,
aside#sidebar div.widget h3  {
	color: #d1aa67;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons {
	background: transparent;
	background-color: transparent;
	background-image: none;
	color: transparent;	
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget {
	background: transparent;
	background-color: transparent;
	background-image: none;
	color: transparent;	
	padding: 0px;
	margin: 0px;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget a{
	/*background-color: white;*/
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	/*border-style:solid;
    border-width: medium;
    border-color: #d1aa67;	*/
    max-width: 300px;
	max-height: 300px;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget a h2{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	/*max-height: 0%;	*/
	color: #d2ab67;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Helvetica;
	background: rgb(0,0,0);
/* fallback color */
	background: rgba(0,0,0,0.7);
	margin-bottom: 0;
	padding: 10px;
/* trial */
	overflow: hidden;
	text-overflow: ellipsis;	
	text-align: center;
}

div.widget-area-container#doorway-button-sidebar-container div.widget-area#tanvas-home-doorway-buttons div.widget.doorway a img {
	display:block;
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 300px;
}

div.doorway-container {
	min-height: 100px;
	min-width: 100px;
}

/* custom homepage widgets */

/* custom widget styles */

div.widget-area.sidebar#tanvas-home-doorway-sidebar div.widget,
aside#sidebar div.widget,
div.widget-area#tanvas_home_right div.widget {
	background-color: white;
	/*border-color: #d1aa67;
	border-style: solid;
	border-width: medium;*/
	border: 3px solid #020016;
} 

div.widget-area.sidebar#tanvas-home-doorway-sidebar div.widget h2,
div.widget-area#tanvas_home_right div.widget h2,
aside#sidebar div.widget h3  {
	color: #d1aa67;
}

aside#sidebar div.widget p.buttons,
aside#sidebar div.widget a.woo-sc-button {
	margin-bottom: 0px;
}

/**
 * Tanvas Homepage Mods
 */

/* remove main background */
body.home section#main {
	border:none;
	background: none;
	padding:0;
	margin:0;
}

/* remove breadcrumbs */
body.home div#content div#main-sidebar-container section#main div.breadcrumb-trail {
	display:none;
}
body.home section#main div.breadcrumb {
	display:none;
}

/* product category / doorway button display */
body.home section#main li.product-category.product {
    border-style:solid;
    border-width: thick;
    border-color: #d1aa67;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    margin-bottom:36px;  
}
body.home section#main li.product-category.product a img {
	padding: 0;
	margin: 0;
}

/** 
 * Archive attachment formatting
 */

body.archive.tax-product_cat img.attachment-full {
	max-width: 100%;
	max-height: 300px;
	height: auto;
	width: auto;
}
/* @media only screen and (min-width: 768px) {
	body.archive.tax-product_cat img.attachment-full {
		width: 50%;
		display: block;
		float: left;
		clear: left;
		margin-bottom: 20px;
	}

	body.archive.tax-product_cat div.term-description {
		width: 50%;
		display: block;
		float: left;
		clear: right;
		padding: 10px;
	    -webkit-box-sizing: border-box; 
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
	}

	body.archive.tax-product_cat ul.products {
		clear:both;
 
/**
 * Recent Posts Mods
 */

/**
 * HEADER NAV ICON DISPLAY MODS
 */

/* Header Social Media icons */
div.social-icons {
	/*float: right;*/
	display: block;
}
div.social-icons img {
	height: auto;
	max-height: 35px;
	max-width: 35px;
	width: auto;
}

/* Makes nav icons show up properly */
@media only screen and (min-width: 768px) {
	#navigation {
		clear: none;
	}
	
	#navigation .menus.nav-icons:after {
		content: "";
		display: table;
		clear: both;
	}
	
	#navigation .menus.nav-icons .side-nav {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	#navigation .menus.nav-icons-1 #main-nav {
		margin-right: 4em;
	}
	
	#navigation .menus.nav-icons-1 .side-nav {
		width: 4em;
	}
	
	#navigation .menus.nav-icons-2 #main-nav {
		margin-right: 7em;
	}
	
	#navigation .menus.nav-icons-2 .side-nav {
		width: 7em;
	}
	
	#navigation .menus.nav-icons-3 #main-nav {
		margin-right: 10em;
	}
	
	#navigation .menus.nav-icons-3 .side-nav {
		width: 10em;
	}
	
	#navigation .menus.nav-icons-4 #main-nav {
		margin-right: 13em;
	}
	
	#navigation .menus.nav-icons-4 .side-nav {
		width: 13em;
	}
}

@media only screen and (min-width: 980px) {
	#navigation .cart-extended ul.cart a.cart-contents {
		display: inline-block;
		width: auto;
		text-indent: 0;
		overflow: visible;
	}
	
	#navigation .cart-extended ul.cart a.cart-contents:before {
		display: inline-block;
		margin-right: .5em;
		height: auto;
	}
	
	#navigation .menus.nav-icons-1.cart-extended #main-nav {
		margin-right: 13.5em;
	}
	
	#navigation .menus.nav-icons-1.cart-extended .side-nav {
		width: 13.5em;
	}
	
	#navigation .menus.nav-icons-2.cart-extended #main-nav {
		margin-right: 16.5em;
	}
	
	#navigation .menus.nav-icons-2.cart-extended .side-nav {
		width: 16.5em;
	}
	
	#navigation .menus.nav-icons-3.cart-extended #main-nav {
		margin-right: 19.5em;
	}
	
	#navigation .menus.nav-icons-3.cart-extended .side-nav {
		width: 19.5em;
	}
	
	#navigation .menus.nav-icons-4.cart-extended #main-nav {
		margin-right: 22.5em;
	}
	
	#navigation .menus.nav-icons-4.cart-extended .side-nav {
		width: 22.5em;
	}
}

/* top nav menu */
@media only screen and (min-width: 768px) {
	div#inner-wrapper div#top{
		margin: 0;
		display: block;
		/*overflow: hidden;*/
	}

	div#inner-wrapper div#top div.col-full{
		float: right;
		display: block;
	}

	div#inner-wrapper div#top:after{
		clear:both;
		content: "";
		display:block;
	}
}

/**
 * Other Hacks
 */

/* wordpress compatibilitiy */
.sticky{
}
.gallery-caption{
}

/**
 *  Cats 4Eva
 *   /\_/\
 * =( °w° )=
 *   )   (  //
 *  (__ __)//
 */

/* Product Price Display mods */

span.price span.amount {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}

span.price small.woocommerce-price-suffix {
	font-size: 66%;
}

p.out-of-stock {
	color: red;
}

small.woocommerce-price-suffix {
	font-size: 66%;
}


/* make the slider title color brown isntead of white */
#loopedSlider.business-slider div.content div.title h2.title {
	color:#d2ab67;
}
#loopedSlider.business-slider div.content div.title h2.title a {
	color:#d2ab67;
}

/* fixing the footer */
footer#footer.col-full {
	padding:10px 10px 10px 10px;
	margin-top:10px;
}
footer#footer.col-full div {
	margin-bottom:0;
}

/* joining the footer widgets together */
section#footer-widgets {
	background-color:#d2ab67;
}
section#footer-widgets div.block {
	padding: 0px;
	margin: 0px;
}

/* improve search box text visibility */
form.searchform {
	background: #e6e6e6 !important;
}
div.woocommerce.widget_product_search form#searchform input#s{
	background: inherit;
	background-color: white;
	position: relative;
}

/* improve search box text visibility */
#navigation ul.nav-search #searchform, #navigation ul.nav-search form.searchform {
	background: #e6e6e6 !important;
}

/* Header Hacks */
div#inner-wrapper nav#navigation.col-full {
	margin:0;
}

/* Woocommerce Cart widget width */
@media only screen and (min-width: 768px) {
	#navigation ul.cart a.cart-contents + ul, 
	#navigation ul.cart a.search-contents + ul, 
	#navigation ul.nav-search a.cart-contents + ul, 
	#navigation ul.nav-search a.search-contents + ul{
		width: 24em;
	}
}

/* Woocommerce price display style */
ul.products a h3{
	font-size: 15pt;
}

ul.products a h3 span.long-title{
	font-size: 13pt;
}

li.product a h3 span{
	display: block;
	clear: both;
	float: center;
}
li.product a h3 small{
	font-size: 75%;
	display: block;
	float:center;
	clear:both;
	color: black;
	line-height: normal
}

.nf-modal-link {
	background-color: rgb(209, 170, 103);
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(255, 255, 255)!important ; 
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	text-align: center;
}

/* Ninja forms hide hidden wrap */

div.ninja-forms-all-fields-wrap div.hidden-wrap{
	display: none;
}

/* Woocommerce Product Bundles / Composite product display */
.component .composited_product_images img {
	height: auto;
}

div.product-type-composite div.summary,
div.product-type-bundle div.summary{
	float:none;
	width:100%;	
}

form.bundle_form,
form.composite_form {
	clear:both;
}

.entry img {
	border-style: none;
}

strong.warning {
	background-color: red;
}

/*table h2*/
.entry table tbody h2 {
	font-size: 1.2em;
	font-weight: bold;
}

a.woo-sc-button {
	margin-bottom: 0px !important;
}

a.woo-sc-button.tanvas {
	background-color: #d1aa67 !important;
}

/**
 * product info display
 */

div.product-info-summary {
	display: table-row!important; 
}

div.product-info-img {
	display: table-cell!important;
}

div.product-info-detail {
	display: table-cell!important
}

.widget p.woo-ma-error {
	color: red;
}

/* make sale sign appear above product image */
span.onsale {
	/*position: relative;*/
	z-index: 2;
}

/**
 * Register form mods
 */

